<nav class="navbar navbar-expand-lg navbar-light bg-meli">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        src="../../../assets/images/Logo_ML@2x.png.png"
        alt="Mercado Libre"
        width="50"
        height="50"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <div class="ubication pe-6">
        <input
          class="form-control"
          type="text"
          placeholder="Nunca dejes de buscar"
          (keyup)="keyUp($event)"
        />
        <a
          class="btn btn-outline-meli"
          type="submit"
          [routerLink]="['/items']" [queryParams]="{search: item}"
        >
          <img
            src="../../../assets/images/ic_Search@2x.png.png"
            alt="Buscar Meli"
            width="20"
            height="20"
          />
        </a>
      </div>
    </div>
  </div>
</nav>

  <br>

  <div *ngIf="activeSearch" class="container bg-gray-meli">
  
    <hr>
    <nav style="
      --bs-breadcrumb-divider: url(
        &#34;data:image/svg + xml,
        %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
      );
    " aria-label="breadcrumb">
        <ol class="breadcrumb" *ngIf="itemSearch.filters.length > 0">
            <li class="breadcrumb-item"><strong> {{itemSearch.countryDefaultTimeZone}} </strong></li>
            <li class="breadcrumb-item active" aria-current="page">{{itemSearch.query}}</li>
        </ol>
    </nav>

    <div class="container bg-light">
        <div *ngFor="let item of itemSearch.results, index as i" class="mt-2">
            <div *ngIf="i <= 3">
                <a class="row" style="text-decoration: none; color: black;" [routerLink]="['/items', item.id]">
                    <div class="col-4 col-md-4 text-center">
                        <img src="{{item.thumbnail}}" alt="">
                    </div>
                    <div class="col-8 col-md-8">
                        <h4>$ {{item.price}}</h4>
                        <p>{{item.title}}</p>
                    </div>
                </a>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2" *ngIf="!activeSearch">
  <div class="position-absolute top-50 start-50">
      <img src="../../../assets/images/loader.gif" alt="" width="100" height="100">
  </div>
</div>


    <!--<div class="position-absolute top-50 start-50 translate-middle">
        <img src="../../../assets/images/loader.gif" alt="" width="50" height="50">
    </div>-->