/* You can add global styles to this file, and also import other style files */
.bg-meli {
    background-color: #ffdb15 !important;
}

.btn-outline-meli {
    color: lightgray;
    border-color: lightgray;
    background-color: lightgray;

}

.ubication {
    display: contents !important;
    margin-left: 15px;
    margin-right: 5px;
}